altgraph==0.17.2
asgiref==3.3.4
Brotli==1.0.9
certifi==2022.6.15
dj-database-url==1.2.0
Django==3.2.3
django-archive==0.2.0
django-archive-adnn==0.2.0
django-dbbackup==4.0.2
django-log-viewer==1.1.6
future==0.18.2
gunicorn==20.1.0
Markdown==3.3.4
pefile==2022.5.30
psycopg2-binary==2.9.5
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.10
pyngrok==5.1.0
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==6.0
sentry-sdk==1.9.7
sqlparse==0.4.1
urllib3==1.26.12
whitenoise==6.3.0
