{% extends 'base.html' %}
{% load belongs_to %}
{% block leftcolumn %}
<input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscar..">
<br>
    <table style='width:90%;border: 1px solid; background-color: #FAEBD7;text-align: center; vertical-align: middle;' class="order-table">
        <thead>
            <tr>
                <th>N</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Opciones</th>
                <th>Estado</th>
            </tr>
        </thead>
        {% for item in pagos %} 
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/pagos/{{ item.pagcod }}">{{ item.pagcod }}</a></td>   
                <td>{{ item.pagnom }}</td>
                <td>{{ item.pagdsc }}</td>
                <td>{{ item.pagpre }}</td>
                <td>
                    <!-- <button type="button" onclick="location.href='/editarPago/{{ item.pagcod }}'">Editar</button>
                    <button type="button" onclick="location.href='/eliminarPago/{{ item.pagcod }}'">Eliminar</button> -->
                </td>
                <td>{{ item.pagestregcod.estregdes }}</td>
            </tr>
        {% endfor %}
    </table>
{% if request.user|belongs_to:"administradores" %}
<button type="button" onclick="location.href='/crearPagos/'">Crear Pago</button>
{% endif %}
{% endblock %}