{% extends 'base.html' %}
{% load belongs_to %}
{% block leftcolumn %}
<input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscar..">
<table style='width:80%;border: 1px solid; background-color: #FAFCE7; text-align: center; vertical-align: middle;' class="order-table">
    <thead>
        <tr>
            <th>N</th>
            <th>Codigo Barras</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio unitario</th>
            <th>Inventario</th>
            <th>Stock</th>
            <th>Opciones</th>
            <th>Estado</th>
        </tr>
    </thead>
    {% for item in articulos %} 
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/articulos/{{ item.artcod }}">{{ item.artcodbar }}</a></td>   
            <td>{{ item.artnom }}</td>
            <td>{{ item.artdsc }}</td>
            <td>{{ item.artpreuni }}</td>
            <td>{{ item.artaln.alndsc }}</td>
            <td>{{ item.artstk }}</td>
            <td>
                {% if request.user|belongs_to:"administradores" %}
                <button type="button" onclick="location.href='/editarArticulo/{{ item.artcod }}'">Editar</button>
                {% if item.artestregcod.estregcod == 'A' %}
                <button type="button" onclick="location.href='/eliminarArticulo/{{ item.artcod }}'">Eliminar</button>
                {% endif %}
                {% endif %}
            </td>
            <td>{{ item.artestregcod.estregdes }}</td>
        </tr>
    {% endfor %}
</table>
{% if request.user|belongs_to:"administradores" %}
<button type="button" onclick="location.href='/crearArticulo/'">Crear Articulo</button>
{% endif %}
{% endblock %}