{% extends 'base.html' %}
{% block leftcolumn %}
<input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscar...">
    <table style='width:50%' class="order-table">
        <tr>
            <th>N</th>
            <th>Codigo</th>
            <th>Fecha</th>
            <th>Capital Inicial</th>
            <th>Capital Final</th>
            <th>Estado</th>
        </tr>
        {% for item in controles reversed %} 
            <tr>
                <th>{{ forloop.counter }}</th>
                <th><a href="/controlVentas/{{ item.convencod }}">{{ item.convencod }}</a></th>   
                <th>{{ item.convenfecaño }}/{{ item.convenfecmes }}/{{ item.convenfecdia }}</th>
                <th>{{ item.convencapini }}</th>
                <th>{{ item.convencapfin }}</th>
                <th>{{ item.convenestregcod.estregdes }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}