<!--https://stackoverflow.com/questions/6418634/onclick-location-href-link-html-does-not-load-page-in-safari-->
<div id="menu" class="topnav">
  <button type = "button" onclick="location.href='/'">Inicio</button>
  <button type = "button" onclick="generarPago()">Generar Pago</button>
  <button type = "button" onclick="generarBoleta()">Generar Boleta</button>
  <button type = "button" onclick="location.href='/listarArticulo'">Listar Productos</button>
  <button type = "button" onclick="location.href='/listarTransaccion'">Listar Transacciones</button>
  <button type = "button" onclick="location.href='/listarControlVentas'">Listar Control de Ventas</button>
  <button type = "button" onclick="location.href='/listarTrabajador'">Listar Trabajadores</button>
  <button type = "button" onclick="location.href='/listarPagos/'">Listar Pagos</button>
</div>