<!--https://stackoverflow.com/questions/6418634/onclick-location-href-link-html-does-not-load-page-in-safari-->
<div id="menu" class="topnav">
  <button type="button" onclick="location.href='/'">Inicio</button>
  <button type="button" onclick="location.href='/crearPago'">Generar Pago</button>
  <button type="button" onclick="location.href='/crearBoleta'">Generar Boleta</button>
  <button type ="button" onclick="location.href='/listarProductos'">Listar Productos</button>
  <button type ="button" onclick="location.href='/listarTransacciones'">Listar Transacciones</button>
  <button type ="button" onclick="location.href='/listarControlVentas'">Listar Control de Ventas</button>
</div>