{% extends 'base.html' %}
{% load static %}
{% block leftcolumn %}
    <div class="" style='padding-right: 25%;'>
        <h3>Boleta Cabecera</h3>
        <h4>Codigo: {{ boletaCab.bolelecabcod }}</h4>
        <h4>Fecha: {{ boletaCab.bolelecabfecaño }}/{{ boletaCab.bolelecabfecmes }}/{{ boletaCab.bolelecabfecdia }}</h4>
        <h4>Hora: {{ boletaCab.bolelecabhor }}:{{ boletaCab.bolelecabmin }}:{{ boletaCab.bolelecabseg }}</h4>
        <h4>Codigo Control Ventas: <a href="/controlVentas/{{ boletaCab.bolelecabconvencod.convencod }}">{{ boletaCab.bolelecabconvencod.convencod }}</a></h4>
        <h4>Cliente: <a href="/clientes/{{ boletaCab.bolelecabclicod.clicod }}">{{ boletaCab.bolelecabclicod.clinom }}</a> / DNI: {{ boletaCab.bolelecabclicod.clidni }}</h4>
        <h4>Trabajador: <a href="/trabajadores/{{ boletaCab.bolelecabtrbcod.trbcod }}">{{ boletaCab.bolelecabtrbcod.trbnom }}</a></h4>
        <h4 id="total">Total: {{ boletaCab.bolelecabtot|floatformat:2 }}</h4>
        <br>
        <div class="fakeimg">
        <table style='width:80%;border: 1px solid; background-color: #FAEBD7;text-align: center; vertical-align: middle;'>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Importe</th>
                    <th>Estado Detalle</th>
                </tr>
            </thead>
            <!-- https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#for -->
            {% for item in bolArticulos %}
                {% if item.boleledetartestreg.estregcod == 'A' %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>Articulo</td>
                    <td><a href="/articulos/{{ item.boleledetartartcodbar.artcod }}">{{ item.boleledetartartcodbar.artnom }}</a></td>   
                    <td>{{ item.boleledetartartcan }}</td>
                    <td id="importe">{{ item.boleledetartartimp }}</td>
                    <td>{{ item.boleledetartestreg.estregdes }}</td>
                </tr>
                {% endif %}
            {% empty %}
                <li>No se efectuaron ventas de articulos en esta boleta.</li>
            {% endfor %}

            {% for item in bolTransacciones %} 
                {% if item.boleledettraestregcod.estregcod == 'A' %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>Transaccion</td>
                    <td><a href="/transacciones/{{ item.boleledettratracod.tracod }}">{{ item.boleledettratracod.tranom }}</a></td>  
                    <td>{{ item.boleledettratracan }}</td>
                    <td id="importe">{{ item.boleledettratraimp }}</td>
                    <td>{{ item.boleledettraestregcod.estregdes }}</td> 
                </tr>
                {% endif %}
            {% empty %}
                <li>No se efectuaron transacciones en esta boleta.</li>
            {% endfor %}
        </table>
        </div>
        <h5><button type = "button" onclick="location.href='/boletaCabFinEst/{{ boletaCab.bolelecabcod }}'">Ver / Efectuar cambios</a></h5>
        <button type="button" onclick="abrirVentana('/imprimir/{{ boletaCab.bolelecabcod }}')">Imprimir</button>
        <h5>Estado: {{ boletaCab.bolelecabestregcod.estregdes }}</h5>
    </div>
{% endblock %}